:root {
    --appBackgrounColor: dimgray;
    --appHeaderTextColor: #4EC9B0;
    --appRegularTextColor: #569CD6;
    --searchBarBackgroundColor: #FFFFFF;
    --bookContentBackgroundColor: #FFFFFF;
    --bookContentInnerBackgroundColor:#1E1E1E;
}